* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
a.menu {
  visibility: hidden;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media screen and (max-width: 450px) {
  a.menu {
    visibility: visible;
    border: 2px solid black;
    margin-left: auto;
    margin-right: 50px;
  }
  nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  nav ul {
    display: none;
  }
  nav img.logo {
    height: 80%;
    width: 40%;
    border: 2px solid black;
    margin-left: -5px;
  }
  img.logo {
  }
}

nav {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100px;
  width: 100%;
  padding-left: 60px;
  background-color: rgba(246, 244, 244, 0.825);
  border: 2px solid black;
}
nav .logo {
  height: 90%;
  width: 15%;
  border: 2px solid black;
}
nav ul {
  text-transform: uppercase;
  font-size: 20px;
}
nav ul li {
  display: flex;
  gap: 40px;
  text-decoration: none;
  margin-top: 10px;
}
nav ul li a {
  color: rgb(4, 4, 29);
  text-decoration: none;

  margin-left: 10px;
}

nav .login-icon {
  height: 30px;
  width: 30px;
}

/* register style */
.container {
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}

input[type="text"],
input[type="pin"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="pin"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: rgb(187, 172, 172);
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 50px;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: blue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
