.account-form {
  max-width: 580px;
  margin: auto;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 30px;
}

#regenerate-account-number-btn {
  margin-top: 5px;
}

table {
  margin: 20px 100px;
}

.account-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  margin: 0px 400px;
}
.btn-danger {
  margin-left: 780px;
  margin-top: 10px;
}
div#pin-update-section {
  display: none;
}
#confirm-close-btn-action {
  display: none;
}
